In [3]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [4]:
import webbrowser
website = 'http://en.wikipedia.org/wiki/NFL_win-loss_records'
webbrowser.open(website)

True

In [8]:
nfl_frame = pd.read_clipboard()

In [9]:
nfl_frame

Empty DataFrame
Columns: [Sub, processes, are, not, supported, on, iOS]
Index: []

In [7]:
nfl_frame.columns

Index(['Sub', 'processes', 'are', 'not', 'supported', 'on', 'iOS'], dtype='object')

In [11]:
nfl_frame.Team

Empty DataFrame
Columns: [Sub, processes, are, not, supported, on, iOS]
Index: []

In [ ]:
nfl_frame['First Season']

In [ ]:
DataFrame(nfl_frame,columns = ['Team', 'First Season', 'Total Games'])

In [ ]:
nfl_frame.head(2)

In [ ]:
nfl_frame.tail(3)

In [ ]:
nfl_frame['Stadium'] = "Levi's Stadium"

In [12]:
data = {'City': ['SF', 'LA', 'NYC'], 'Population': [837000,3880000,8400000]}

In [13]:
city_frame = DataFrame(data)

In [14]:
city_frame

  City  Population
0   SF      837000
1   LA     3880000
2  NYC     8400000